<div class="form-group row">
  <div class="col-sm-8">
    <p>Title</p>
    <input
      type="text"
      name="Title"
      class="form-control mb-4"
      value="<%= model.Title %>"
    />
    <p>Content</p>
    <textarea rows="20" cols="50" name="Content" class="form-control">
<%= model.Content %></textarea
    >
  </div>
</div>
